:root {
  --color-default: #212529;
  --color-primary: hsl(0, 84%, 44%);
  --color-secondary: #37373f;
  --color-tertiary: #7f7f90;
  --color-light: hsl(0, 0%, 100%);
  --color-light-grey: #eee;
  --secondary-color: #2ecc71;
  --font-primary: "Amatic SC", sans-serif;
  --box-shadow: #969696 0px 0px 5px 0px;
}

/* General Settings */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-default);
}

#menu-toggle {
  display: none;
}

.container {
  background-color: yellowgreen;/*delete*/
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-default);
}

/* Start Navbar Style */
nav.navbar {
  height: 60px;/*delete*/
  background-color: var(--color-primary);
  width: 100%;
  position: fixed;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.menu-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu-nav /* navbar */ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #969696; /*delete*/
  margin: 0 10px; /*delete*/
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.hamburger {
  width: 35px;
  height: 25px;
  padding: 5px;
  background-color: #08af4e; /*delete*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  /* z-index: 1101; */
  /* box-shadow: var(--border-box-primary); */
  box-shadow: var(--box-shadow);
}

.hamburger span {
  display: block;
  background-color: #fff;
  height: 4px;
  border-radius: 2px;
    transition: all 0.3s ease;
}

.menu {
  /* display: none; */
  background-color: #fff;
  border-left: 2px solid #f1f1f1;
  position: fixed;
  top: 0;
  right: -330px;
  height: 100vh;
  width: 350px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu li a {
  color: var(--color-tertiary);
  background-color: #08af4e; /*delete*/
  padding: 15px 20px;
  display: block;
  font-size: 18px;
}

.menu li a:hover {
  color: #000;
}

.overlay {
  position: fixed;
  background-color: hsl(0, 0%, 100%, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
  z-index: 999;
}

/* End Navbar Style */
