/* Global */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}
/* Color Variables */
:root {
    
}



/* Start Navbar */
.navbar {
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;
}

nav>.container {
    background: #b96e6e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

ul.nav-links {
    background: #42885b;
    display: flex;
}

ul.nav-links li {
    margin: 0 20px;
    padding: 10px 0;
}
